################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Open.GraphQL/v16/Server/sqlite3
/.vs/Open.GraphQL/v16
/.vs/Open.GraphQL/DesignTimeBuild
